<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">
<body>
    <center>
        <h1> send html whic is render by flask </h1>
        <img src="{{url_for('static',filename='images/bharat.jpg')}}" alt="" srcset="" height="300px" width="300px"><br>
        <h1><a href="{{url_for('properties')}}">Go to properties Page</a></h1>
    </center>
</body>
</html>